<html>
<head>
<title></title>
<script src="lib/angular.js"></script>
<script src="script/produto.js"></script>
</head>

<body ng-app="produtoGerenciador" ng-controller="produtoController">

	<div>
		<form ng-submit="gravar()">
			<table>
				<tr>
					<th colspan="2">Incluir Produto</th>
				</tr>
				<tr>
					<td>Nome</td>
					<td><input type="text" ng-model="produtoForm.nome" /></td>
				</tr>
				<tr>
					<td>Unidade</td>
					<td><input type="text" ng-model="produtoForm.unidade" /></td>
				</tr>
				<tr>
					<td>Pre&ccedil;o Unit&aacute;rio</td>
					<td><input type="text" ng-model="produtoForm.precoUnitario" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Submit"/></td>
				</tr>
			</table>
		</form>
	</div>


	<div>
		<table>
			<tr>
				<th>Nome</th>
				<th>Unidade</th>
				<th>Pre&ccedil;o Unit&aacute;rio</th>
				<th>Opera&ccedil;&otilde;es</th>

			</tr>

			<tr ng-repeat="produto in produtos">
				<td>{{ produto.nome }}</td>
				<td>{{ produto.unidade }}</td>
				<td>{{ produto.precoUnitario }}</td>
				<td>
				 <a ng-click="editar(produto)" >Editar</a>
				 <a ng-click="excluir(produto)" >Excluir</a>
			    </td>
			</tr>

		</table>
	</div>
	

</body>
</html>
